/* This is the beginning of the external style sheet */
.para_1_style {
    color: red;
    font-size: 16px;
    padding: 50px;
    border: dotted 50px purple;
}
.para_3_style {
    color:green;
    float: left;
    padding-top: 5px;
}
.para_4_style {
    color:rgba(255, 255, 0, 100%);
    padding-top: 40px;
}
.para_5_style {
    color: hex #672626;
    margin-top: 25px;
}
.custom_padding {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.table {
    border: 3px solid black;
    margin:auto;
    text-align: center;
}