/* This is the beginning of the external style sheet */
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
/* The slidein animation was taken from MDN. */
@keyframes rainbow {
    0% {
        color: blue;
    }
    12.5% {
        color: purple;
    }
    25% {
        color: indigo;
    }
    37.5% {
        color: red;
    }
    50% {
        color: orange;
    }
    62.5% {
        color: yellow;
    }
    75% {
        color: yellowgreen;
    }
    87.5% {
        color: green;
    }
    100% {
        color: blue;
    }
}
.para_1_style {
    color: red;
    font-size: 16px;
    padding: 50px;
    border: dotted 50px purple;
}
.para_3_style {
    color:green;
    float: left;
    padding-top: 5px;
}
.para_4_style {
    color:rgba(255, 255, 0, 100%);
    padding-top: 40px;
}
.para_5_style {
    color: hex #672626;
    margin-top: 25px;
}
.custom_padding {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
.table {
    border: 3px solid black;
    margin:auto;
    text-align: center;
}
.form_bg {
    background-color: #FFFFFFCC;
}
h1:hover {
    transform: scale(1.0,1.5);
    animation: rainbow 8s linear infinite;
}